@charset "utf-8";

html {
  background-color: #000;
  background-size: 100%;
}
body {
  color: #fff;
}

main a {
  color: #0066cc;
  transition: 0.2s ease;
}
main a:hover {
  color: rgba(0, 102, 204, 0.8);
}
