@charset "utf-8";

main {
  text-align: center;
}

.search-input {
  margin: 5% 0 3% 0;
  font-size: 20px;
  border: 1px solid #333;
  width: 50%;
}

.search-result-num {
  text-align: left;
}

.search-result {
  margin: 1%;
}

.page-link {
  margin: 3% 0 3% 0;
  border: 1px solid #333;
  width: fit-content;
}
