@charset "UTF-8";
#name {
  width: 250px;
  font-size: 20px;
}

#amount {
  width: 70px;
  font-size: 20px;
}
#quantity {
  width: 55px;
  font-size: 20px;
}

#button {
  font-size: 15px;
}

#message {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.table {
  display: flex;
}

#tableName {
  width: 400px;
}

#tableAmount,
#tableQuantity {
  width: 70px;
}

#sumAmount {
  margin-left: 10px;
}

.border1 {
  border-collapse: collapse;
  border: #000 solid 1px;
}

td {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
